.meme__image{
  /* box model */
  display: none;
}

.meme__title i {
  /* box model */
  display: inline-block;
}

.meme input:checked + .meme__container .meme__image {
  /* box model */
  display: block;
}

.meme input:checked + .meme__container i { 
  /* transformations */
  transform: rotate(90deg)
}

.meme__title:hover + img {
  /* box model */
  display: block;
}