@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root {
  --white: #ffffff;
  --champagne: #f1ddbf;
  --gray: #525e75;
  --cambridge: #78938a;
  --grass: #92ba92;
}

body {
  /* box model */
  padding: 1rem;

  /* typography */
  color: var(--gray);
  font-family: 'Rampart One', cursive;

  /* visual */
  background-color: var(--champagne);
}

.header {
  /* box model */
  margin-bottom: 2rem;
}

.header__title {
  /* typography */
  line-height: 1;
  font-size: 3em;
}

.header__subtitle {
  /* typography */
  color: var(--cambridge);
  font-size: 1em;
}

.meme {
  /* box model */
  display: block;

  /* border */
  border-bottom: 0.125rem solid var(--cambridge);
}

.meme:active {
  /* visual */
  opacity: 0.5;
}

.meme input {
  /* box model */
  display: none;
}

.meme__image{
  /* box model */
  margin: 0 1rem;
}

.meme__image img {
  /* box model */
  margin: 0 auto;

  /* border */
  border: 0.5rem solid var(--white);
}

.meme__title {
  /* box model */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* typography */
  font-size: 1.5em;
}

.meme__title i {
  /* box model */
  height: 1em;
  width: 1em;

  /* border */
  border-radius: 50%;

  /* visual */
  transition: all 0.25s ease-out;
  background-image: url(icons/plus.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.meme__image {
  /* box model */
  display: block;
  max-height: 0;

  /* visual */
  overflow: hidden;
  transition: all 0.25s ease-out;
}

.meme__image img {
  /* transformations */
  transform: scale(0);

  /* visual */
  transition: all 0.25s ease-out;
  transition-delay: 0.25s;
}

.meme input:checked + .meme__container .meme__image {
  /* box model */
  max-height: 50rem;
  margin: 1rem;
  
  /* visual */
  transition: all 0.25s ease-out;
  transition-delay: 0;
}

.meme input:checked + .meme__container .meme__image img {
  /* transformations */
  transform: scale(1);

  /* visual */
  transition: all 0.25s ease-out;
}

.meme input:checked + .meme__container i {
  /* visual */
  transition: all 0.25s ease-out;

  /* transformations */
  transform: rotate(225deg);
}

@media (min-width: 320px) {
  .wrapper {
    /* box model */
    width: 18rem;
    margin: 0 auto;
  }
}

@media (min-width: 820px) {
  body {
    /* typography */
    font-size: 1.25rem;
  }

  .wrapper {
    /* box model */
    width: 42rem;
  }

  .meme__image img {
    /* box model */
    max-width: 32rem;
  }

  .memes:hover .meme__title i {
    /* box model */
    display: inline-block;
  }

  .meme:hover .meme__image {
    /* box model */
    max-height: 50rem;
    margin: 1rem;
    
    /* visual */
    transition: all 0.25s ease-out;
    transition-delay: 0;
  }
  
  .meme:hover .meme__image img {
    /* transformations */
    transform: scale(1);
  
    /* visual */
    transition: all 0.25s ease-out;
  }
  
  .meme:hover i {
    /* visual */
    transition: all 0.25s ease-out;
  
    /* transformations */
    transform: rotate(225deg);
  }
}

@media (min-width: 1920px) {
  body {
    /* typography */
    font-size: 1.75rem;
  }

  .wrapper {
    /* box model */
    width: 60rem;
  }
  
  .meme:hover * {
    /* visual */
    cursor: pointer;
  }

  .meme__title i {
    /* box model */
    display: none;
  }
}
